.operator__item {
    cursor: pointer;
    overflow: hidden;
    display: flex; 
    gap: 30px;
    align-items: center;
    height: 134px;
    margin: 0px auto 10px;
    width: 657px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 20px;
    transition: 0.4s;
}

.operator__item:hover {
    background-color: rgba(189, 189, 189, 0.352);
    box-shadow: rgba(0, 0, 0, 0.597) 0px 10px 20px;
    transform: translateY(-5%);
    transition: 0.4s;
}


.operator {
    width: 124px;
    height: 97px;
}

@media(max-width: 1280px) {

    .operator {
      height: 100px;
    }
  
  }
  
  @media (max-width: 1000px) {
  
    .operator {
      height: 90px;
    }
  
  }
  
  @media (max-width: 768px) {
  
    .wrapper {
      height: 40px;
      overflow-x: hidden;
    }

    .operator__item {
        width: 440px;
    }
  
  }
  
  @media (max-width: 480px) {

  

    .operator__item {
      width: 300px;
    }
   
  }

  @media(max-width: 281px) {
    .operator {
      height: 52px;
    }
    .operator__item {
      width: 200px;
    }

    .operator__text {
      font-size: 4vw;
    }
  }