.inputValidation {
    font-size: 12px;
    color: gray;
}
.spanName {
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
}

.inputValidation:invalid ~ .spanName {
    display: block;
}