.payment__container {
    position: absolute;
    margin: 0 auto;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 200%;
    background-color: rgba(0, 0, 0, 0.321);

    
}

.payment__wrapper {
    overflow-y:auto;
    position: sticky;
    margin: 0 auto;
    padding-top: 10px;
    top: 20px;
    width: 634px;
    height: fit-content;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
    z-index: 10;
    transition: 0.5s;
}

.payment__hr {
    position: relative;
    top: 3px;
}

.payment__header {
    display: flex;
    justify-content:space-around;
    align-items: baseline;
}

.payment__headerImages {
    display:flex;
    justify-content: flex-end;
    gap: 5px;
    height: 30px;

}


.telephone__item {
    border: 1px solid black;
    margin: 35px;
    width: 111px;
    height: 23px;
    border-radius: 3px;
    background-color: black;
    color: white;
}

.input__item {
    margin-left: 40px;
    display: grid;
    grid-template-columns: 308px 200px;
    border-radius: 2px;
    font-size: 10px;
}

.input {
    border: none;
    border-radius: 2px;
    padding-left: 10px;
    margin-top: 5px;
    width: 230px;
    height: 25px;
    background-color: rgb(243, 240, 240);
}

.button {
    background-color: #fdfdfe;
    color: #13171b;
    cursor: pointer;
    padding: 0;
    -webkit-transition: color .15s ease-in,background-color .15s ease-in;
    transition: color .15s ease-in,background-color .15s ease-in;
}

.pay__btn {
    width: 347px;
    height: 40px;
    border: 0;
    background-color: #60f79c;
    border-radius: 10px;
}

.delete__button {
    position: absolute;
    right: 30px;
    background-color: transparent;
    border: none;
}

.bank__wrapper {
    margin-top: 20px;
    padding-top: 20px;
    background-color: rgb(243, 240, 240);
    height: 220px;

}

.card__placeholder {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 20px;
    height: 195px;
    width: 400px;
    background-color: #000000ba;

    
}

.operator__logo {
    width: 75px;
}

.card__inputs {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
    gap: 10px;
    font-size: 10px;
}

.card__number {
    position: relative;
    margin: 0 auto;
    width: 300px;
}

.card__cvc {
    width: 50px;
    display: flex;
    align-self: flex-end;
}

.card__expiringDate {
    width: 50px;
}

.payment__checkbox {
    display: flex;
    margin-left: 20px;
}

.payment__button {
    display: flex;
    margin-right: 20px;
    justify-content: flex-end;
}

.payment__method {
    height: 40px;
}

.telephone__operator {
    display: flex;
    justify-content: space-between;
}


.operator {
    display: flex;
    margin-right: 40px;
    gap: 30px;
}

.operator__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #c2c2c2;
    width: 138px;
    border-radius: 5px;
    transition: 0.4s;
}

.operator__item:hover {
    transform: translateY(-2px);
}

.green__button {
    margin-top: 20px;
    height: 50px;
    width: 300px;
    cursor: pointer;
    background-color: #92ff92;
    border: none;
    border-radius: 8px;
    margin-bottom: 10px;
}
.green__button:disabled {
    background-color:#c2c2c2;
    cursor: default;
}

.card__epiringDateMM {
    display: flex;
    flex-direction: column;
    max-width: 58px;
}

.card__expiringDateYY {
    display: flex;
    flex-direction: column;
    max-width: 58px;
}

.cvc__data {
    display: flex;
    flex-direction: column;
    max-width: 58px;
}


.card__expiringInputs {
    display: flex;
    font-size: 10px;
    justify-content: space-between;
}

@media(max-width:541px) {
    .payment__wrapper {
        width: 490px;
    }

    .input__item {
        grid-template-columns: 100px;
        gap: 20px;
    }
}

@media(max-width:481px) {
    .payment__wrapper {
        width: 382px;
    }

    .card__placeholder {
        width: 336px;
    }

    .input__item {
        grid-template-columns: 100px;
        gap: 20px;
    }

    .payment__container {
        width: 110%;
    }

    .green__button {
        width: 338px;
    }
}

@media (max-width: 415px) {
    .green__button {
        width: 400px;
    }
}

@media (max-width: 391px) {
    .payment__wrapper {
        width: 393px;
    }

    .card__placeholder {
        width: 357px;
    }

    .green__button {
        width: 355px;
    }
}

@media(max-width: 376px) {

    .card__number {
        width: 261px;
    }

    .payment__wrapper {
    width: 336px;
    }

    .card__placeholder {
        width: 305px;
        height: 154px;
    }

    .input__item {
        display: grid;
        gap: 30px;
        grid-template-columns: 200px;
    }

    .telephone__operator {
        margin-bottom: 30px;
    }

    .operator__p {
        display: none;
    }

    .bank__wrapper {
        height: 186px;
    }
}

@media(max-width: 281px) {
    .payment__wrapper {
        width: 257px;
    }

    .top__h1 {
        font-size: 6vw;
    }

    .telephone__item {
        display: none;
    }

    .operator__item {
        display: flex;
        align-items: center;
    }

    .input {
        width: 160px;
    }

    .card__placeholder {
        width: 235px
    }

    .card__number {
        width: 192px;
    }

    .green__button {
        width: 218px;
    }
}